{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    
    <div class="grid-row">

  <div class="column-third">
    <ul>
    <li style="padding:10px 0 20px 0;"><a href="">Back</a></li>
      </ul>

  </div>
        
        

  <div class="column-two-thirds">
      
      <h1 style="padding:10px 0 20px 0;border-bottom:1px solid grey" class="heading-large">Item name</h1>
    

  <h2 class="heading-medium">Item information:</h2>
      
      <div class="data" style="padding:10px 0 30px 0; margin-bottom: 10px; border-bottom:1px solid grey ">
          
          <p>Stuff goes here when we know what said stuff is.</p>

        </div>
      
      <div style="margin-top: 20px; padding-left: 0px;" class="two-thirds">
      
      <h2 class="heading-medium">Error description:</h2>
          <p>Missing stuff</p>
        
    </div>
      
        </div>
        
        
        
    </div>
    
    
    
    
      
</main>

{% endblock %}
