{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    
    <div class="grid-row">

  <div class="column-third">
    <ul>
    <li style="padding:10px 0 20px 0;"><a href="../rejected"  class="back-to-previous">Back</a></li>
      </ul>
      
        </div>
      
       <div style="margin-top: 0px; padding-left: 0px;" class="column-two-thirds">
          
           <h2 style="line-height: 1.04167;" class="heading-large">Item 4
    
    <span style="font-size: 27px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">from prescription 5261754</span>
    
    </h2>
           
           <div style="background-color: #F9F9F9; color: #000; margin: 30px 0 15px 0; border:1px solid #000; padding:30px">
               
               <h2 class="heading-medium">Item disallowed</h2>
               
               <p>Reason: <strong>This is a reason</strong></p></div>
      
      <img src="/public/images/pre.svg" style="width:100%; margin-top: 30px;">
      
    </div> 
        
        
        
    </div>
    
    
    
    
      
</main>

{% endblock %}
