{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
       <p><a href="/dsr/login/dashboard/">Back</a></p>
    
    <h1 style="padding:10px 0 35px 0;border-bottom:5px solid #DF3034" class="heading-large">These items are disallowed </h1>
    
    <div class="grid-row">
        
        <div class="column-third">
            
            <h2 style="margin-top:20px;" class="heading-medium">from latest<br> submission</h2>
            
            <h2 style="font-size:48px; margin-top:40px;">3</h2>
      <p class="bold-xsmall"> items</p>
    
        </div>
        
        <div style="margin-top:20px;" class="column-two-thirds">
        
            <h2 class="heading-medium">February</h2>
            
              <table>
  <thead>
      <tr>
        <th scope="col" data-sort="string">Item ID</th>
        <th scope="col">Error description</th>
        <th scope="col">Status</th>
        <th class="numeric" scope="col">Error code</th>
        <th class="numeric last" scope="col">Action</th>
      </tr>
  </thead>
  <tbody style="line-height:50px; ">
      <tr style="border-bottom: 1px solid grey">
      <td>1234</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1235</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>1236</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1237</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
  </tbody>
</table>
            
        </div>
        
       
      
      
          
        </div>
        
     <hr>
    
     <div class="grid-row">
        
        <div class="column-third">
            
            <h2 style="margin-top:20px;"  class="heading-medium">from previous submissions</h2>
            
            <h2 style="font-size:48px; margin-top:40px;">105</h2>
            <p class="bold-xsmall"> items</p>
    
        </div>
        
        <div style="margin-top:30px;" class="column-two-thirds">
        
                         <h1 class="heading-medium">January</h1>
        
              <table>
  <thead>
      <tr>
        <th scope="col" data-sort="string">Item ID</th>
        <th scope="col">Error description</th>
        <th scope="col">Status</th>
        <th class="numeric" scope="col">Error code</th>
        <th class="numeric last" scope="col">Action</th>
      </tr>
  </thead>
  <tbody style="line-height:50px; ">
      <tr style="border-bottom: 1px solid grey">
      <td>1234</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1235</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>1236</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1237</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
  </tbody>
</table>
            
            <h1 class="heading-medium">December</h1>
        
              <table>
  <thead>
      <tr>
        <th scope="col" data-sort="string">Item ID</th>
        <th scope="col">Error description</th>
        <th scope="col">Status</th>
        <th class="numeric" scope="col">Error code</th>
        <th class="numeric last" scope="col">Action</th>
      </tr>
  </thead>
  <tbody style="line-height:50px; ">
      <tr style="border-bottom: 1px solid grey">
      <td>1234</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1235</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>1236</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1237</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
  </tbody>
</table>
            
            <h1 class="heading-medium">November</h1>
        
              <table>
  <thead>
      <tr>
        <th scope="col" data-sort="string">Item ID</th>
        <th scope="col">Error description</th>
        <th scope="col">Status</th>
        <th class="numeric" scope="col">Error code</th>
        <th class="numeric last" scope="col">Action</th>
      </tr>
  </thead>
  <tbody style="line-height:50px; ">
      <tr style="border-bottom: 1px solid grey">
      <td>1234</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1235</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>1236</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
        <tr style="border-bottom: 1px solid grey">
      <td>1237</td>
      <td>This is whats wrong with item!</td>
      <td>More detail is required</td>
      <td class="numeric">333321</td>
      <td class="numeric last"><a href="items/rejected_item">Fix this</a></td>
      </tr>
      
  </tbody>
</table>
            
        </div>
    
        </div>

</main>

{% endblock %}
