{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
        <p><a href="/dsr/login/dashboard/">Back</a></p>
    
    <h1 style="margin-bottom:5px; padding:10px 0 30px 0;" class="heading-large">How your payment is calculated</h1>
    
    <div style="padding: 0px; color:white; margin:0px;" class="grid-row">
        
        <div style="background-color: #7fb19a; padding: 25px;"  class="column-third">
            
              <h2 class="heading-small">Accepted items</h2>
            <td><h2 style="font-size:36px; margin-top:25px;">79</h2>
          <p class="bold-xsmall">items</p></td>
          <td><h2 style="font-size:36px; margin-top:25px;">£11,000</h2>
          <p class="bold-xsmall"> value</p></td>

      
      </div>
        
        <div style="background-color: #408b68; padding: 25px;" class="column-third">
            
              <h2 class="heading-small">+ fixed items</h2>
            <td><h2 style="font-size:36px; margin-top:25px;">8</h2>
          <p class="bold-xsmall">items</p></td>
          <td><h2 style="font-size:36px; margin-top:25px;">£2,982</h2>
          <p class="bold-xsmall"> value</p></td>
            
            

      
        </div>
      
         <div style="background-color: #006435; padding: 25px;" class="column-third">
    
           <h2 class="heading-small">= your payment</h2>
            <td><h2 style="font-size:36px; margin-top:25px;">87</h2>
          <p class="bold-xsmall">items</p></td>
          <td><h2 style="font-size:36px; margin-top:25px;">£13,982</h2>
          <p class="bold-xsmall">total value</p></td>

      
      </div>
      
        </div>
  
    <h2 style="margin-top:30px;" class="heading-large">Items included in your payment</h2>
    
    <hr>
    
    <div class="grid-row">
        
        <div class="column-third">
            
            <h2 style="margin-top:20px;" class="heading-medium">from latest<br> submission</h2>
            
            <h2 style="font-size:48px; margin-top:40px;">79</h2>
      <p class="bold-xsmall"> items</p>
            
            <h2 style=" font-size:24px; margin-top:40px;">£118,632.21</h2>
      <p class="bold-xsmall">value</p>
    
        </div>
        
        <div style="margin-top:20px;" class="column-two-thirds">
        
            <h2 class="heading-medium">February</h2>
            
             <table>
  <thead>
  </thead>
  <tbody style="line-height:50px; ">
    <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr>
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
  </tbody>
</table>
  
        </div>
        
        </div>
        
     <hr>
    
     <div class="grid-row">
        
        <div class="column-third">
            
            <h2 style="margin-top:20px;"  class="heading-medium">from previous<br> submissions</h2>
            
            <h2 style="font-size:48px; margin-top:40px;">8</h2>
      <p class="bold-xsmall"> items</p>
            
            <h2 style=" font-size:24px; margin-top:40px;">£32.21</h2>
      <p class="bold-xsmall"> potential value</p>
    
        </div>
        
        <div style="margin-top:20px;" class="column-two-thirds">
            
            <h2 class="heading-medium">January</h2>
            
            <table>
  <thead>
  </thead>
  <tbody style="line-height:50px; ">
            
            <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr>
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
        </tbody>
</table>
         <h2 class="heading-medium">July</h2>
             <table>
  <thead>
  </thead>
  <tbody style="line-height:50px; ">
    
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">233213</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
      <tr style="border-bottom: 1px solid grey">
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">333321</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
       <tr>
      <td>Stuff here</td>
      <td class="numeric">This is whats wrong with item!</td>
      <td class="numeric">378282</td>
      <td class="numeric"><a href="items/accepted_item">View item</a></td>
    </tr>
      
  </tbody>
</table>
            
        </div>
        
       
      
      
          
        </div>
  
    
      
  


</main>

{% endblock %}
