{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div style="margin: 10px 0 20px 0; background-color: #E5F0F9;padding:20px 0 15px 20px;" class="notice">
  <i class="icon icon-important">
    <span class="visuallyhidden">Warning</span>
  </i>
  <span style="position:absolute; padding: 8px 0 0 15px;"><strong  class="bold-small">
    10 item(s) require your attention
  </strong><a href="rejected"> Fix this</a></span>
        
</div>
    
    <h1 style="line-height: 1.04167; padding:30px 0 0 0;" class="heading-xlarge">Your account 
    
    <span style="font-size: 27px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Boots pharmacy</span>
    
    
    </h1>
    
    <hr> 

            <h2 class="heading-medium">Items with missing information</h2>
    
    <p>More detail is required before these items can be accepted and paid</p>
    
    
        <div style="margin-top: 30px;" class="grid-row"> 
    
            <div class="column-half">
                
                <div style="border-top: 5px solid #fff5e4; padding: 40px 0 20px 0px;">
                    
                    <div style="margin-right: 50px">
                    
                         <h2 style="margin-bottom: 5px; font-size:48px">10</h2>
                    
                    <p>items</p>
                    
                    </div>
                    
                    <a href="rejected">View all pending</a>
                
                </div>
         
            </div>
            
            
            
            
            <div class="column-quarter">
                
                <div style=" border-top: 5px solid #faaa44; padding: 35px 0 0;">
                
                    <h2 style="margin-bottom: 5px; font-size:48px">8</h2>
                    
                    <p>from last submission</p>
                    
                    <a href="rejected">Fix items</a>
                
                </div>
         
            </div>
            
            <div class="column-quarter">
                
                <div style=" border-top: 5px solid #faaa44; padding: 35px 0 0;">
                
                    <h2 style="margin-bottom: 5px; font-size:48px">2</h2>
                    
                    <p>from past submissions</p>
                    
                    <a href="rejected">Fix items</a>
                
                </div>
         
            </div>
            
    </div>
    
    <div style="margin-top:30px;">
                
                </div>
    
     <h2 style="margin-top:20px"  class="heading-medium">Disallowed items</h2>
    
    <p>Disallowed items cannot be paid</p>
    
        <div style="margin-top: 30px;" class="grid-row"> 
    
            <div class="column-half">
                
                <div style="border-top: 5px solid #fae0e1; padding: 40px 0 20px 0px;">
                    
                    <div style="margin-right: 50px">
                    
                         <h2 style="margin-bottom: 5px; font-size:48px">18</h2>
                    
                    <p>items</p>
                    
                    </div>
                    
                    <a href="disallowed">View all disallowed</a>
                    
                </div>
         
            </div>
            
            
            <div class="column-quarter">
                
                <div style=" border-top: 5px solid #DF3034; padding: 35px 0 0;">
                
                    <h2 style="margin-bottom: 5px; font-size:48px">6</h2>
                    
                    <p>from last submission</p>
                    
                    <a href="disallowed">View items</a>
                
                </div>
         
            </div>
            
            <div class="column-quarter">
                
                <div style=" border-top: 5px solid #DF3034; padding: 35px 0 0;">
                
                    <h2 style="margin-bottom: 5px; font-size:48px">12</h2>
                    
                    <p>from past submissions</p>
                    
                    <a href="disallowed">View items</a>
                
                </div>
         
            </div>
            
    </div>
    
    <div style="margin-top:30px;">
                
                </div>
    
    
</main>

{% endblock %}
