{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <h1 style="line-height: 1.04167; padding:50px 0 0 0;" class="heading-xlarge">Your account 
    
    <span style="font-size: 27px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Boots pharmacy  <a href="logout">Logout</a></span>
    
    </h1>
    
    <hr> 
    
    <div style="margin-top: 0px;" class="grid-row"> 
        
    <div class="column-third">
        
        <h2 style="font-size:80px; margin:40px 0 0 0">12</h2>
            
        
                    <p style="margin-top:15px;">unpaid items</p>
        
        <a href="rejected">View summary</a>
        
        </div>
        
        <div class="column-two-thirds">
            
            <h2 style="color:#6F777B" class="heading-medium">Why?</h2>
            
            <hr style="padding:0px 0">
            
        
            <h2 style="padding: 20px; background-color:#f7e6e8; color: #B10E1E;" class="heading-medium">8 items have missing information<a href="items/rejected_item_cycle" style=" float:right; margin-left:10px;" >Fix these</a></h2>
            
             <hr style="padding:0 0 0 10px">
            
            <p class="lede">2 corrections awaiting approval<a href="rejected" style="float:right; margin-left:10px;" >View these</a></p>
            
             <hr style="padding:10px 0">
            
            <p class="lede">2 items disallowed<a href="rejected" style="float:right; margin-left:10px;" >View these</a></p>
            
        </div>
        
        </div>
    
    <hr>
    
        <div style="margin-top: 0px;" class="grid-row">
        
    
    <div class="column-third">
        
        <h2 style="font-size:36px; margin:20px 0 0 0px">19/08/2016</h2>
            
        
                    <p style="margin-top:15px;">Next payment</p>
        
    </div>
    
    <div class="column-two-thirds">
        
        <h2 style="color:#6F777B" class="heading-medium">These will be added to your next payment</h2>
            
            <hr style="padding:0px 0 35px 0">
    
    <p class="lede" style="color: #006435; padding-top:0px;"><strong>2 approved corrections</strong><a href="rejected" style="float:right; margin-left:10px;" >View these</a></p>
    
    </div>
    
    </div>
        
</main>

{% endblock %}
