{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
     <div class="grid-row" style="margin-top: 10px;">
         
         <div class="column-two-thirds">
         
             <h1 style="line-height: 1.04167; padding:30px 0 0 0;" class="heading-large">About your submission
    
    <span class="contractor">September</span></h1>
         
    </div>
         
    </div>
    
    <hr>
    
    <div class="grid-row">
        
            <div class="column-third">
                
                <p style="margin-top: 10px;">EPS prescriptions</p>
                
        </div>
         
         <div class="column-two-thirds">
                 
                 <p class="lede">EPS items don't need to be declared.</p>
             
         </div>
        
    </div>
                 
                 <hr>
    
    <div class="grid-row">
    
    <div class="column-third">
        
         <p style="margin-top: 10px;">Paper prescriptions</p>
                
    </div>
    
    <div class="column-two-thirds">
        
        <div class="form-item-wrapper">
            
<script type="text/javascript">
    $(function () {
        $("input[name='items-binary']").click(function () {
            if ($("#items-binary-no").is(":checked")) {
                $("#items-correction").hide();
            } else {
                $("#items-correction").show();
            }
        });
    });
</script>

            <legend  style="padding-top:0px;" class="form-label-bold">Are you sending any paper prescriptions?</legend>
<div class="inline-form-groups">
            <div class="form-group">
                <input type="radio" id="items-binary-yes" name="items-binary" />
                <label class="form-control-radio" for="items-binary-yes">
                Yes
                </label>
            </div>
                

            <div class="form-group">
                <input type="radio" id="items-binary-no" name="items-binary" />
                <label class="form-control-radio" for="items-binary-no">
                No
                </label>
            </div>
    
    </div>
<div id="items-correction" style="display: none; clear:both;">
            <div class="form-item-wrapper">        
        <fieldset>
            
            
            
          <legend class="form-label-bold">How many paper prescriptions are you sending?</legend>
                
            <div class="form-group">
            <label class="form-label" for="first-label">
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
            
        </fieldset>
        
        <hr>
        
        <fieldset>
            
          <legend class="form-label-bold">How many items were</legend>
                
            <div class="form-group">
            <label class="form-label" for="first-label">
              Exempt
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-label">
              Paid
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
            <div class="form-group">
            <label class="form-label" for="last-label">
              Paid (old rate)
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
        </fieldset>
                
             </div>
          </div>
</div>
            </div>
            
        </div>
    
    <hr>
    
    <div class="grid-row">
    
    <div class="column-third">
        
         <p style="margin-top: 10px;">FP57 forms</p>
        
    </div>
             
             <div class="column-two-thirds">
                 
                 <div class="form-item-wrapper" style="margin-top:0;">
            
<script type="text/javascript">
    $(function () {
        $("input[name='fp57-binary']").click(function () {
            if ($("#fp57-binary-no").is(":checked")) {
                $("#fp57-correction").hide();
            } else {
                $("#fp57-correction").show();
            }
        });
    });
</script>

            <legend  style="padding-top:0px;" class="form-label-bold">Are you sending any FP57 forms?</legend>
            <div class="inline-form-groups">
            <div class="form-group">
                <input type="radio" id="fp57-binary-yes" name="fp57-binary" />
                <label class="form-control-radio" for="fp57-binary-yes">
                Yes
                </label>
            </div>

            <div class="form-group">
                <input type="radio" id="fp57-binary-no" name="fp57-binary" />
                <label class="form-control-radio" for="fp57-binary-no">
                No
                </label>
            </div>
                </div>
                
<div id="fp57-correction" style="display: none; clear:both;">
    <div class="form-group">
            <label class="form-label" for="first-label">
              How many are you sending?
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-label">
              What was the total amount refunded?
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
</div>
            
            
        </div>
                 
        </div>
        
        
    </div>
            
    
    <hr>
        
         <div class="grid-row">
    
    <div class="column-third">
        
         <p style="margin-top: 10px;">Did you carry out any</p>
        
    </div>
             
             <div class="column-two-thirds">
          
          <div class="form-item-wrapper" style="margin-top:0;">
            
<script type="text/javascript">
    $(function () {
        $("input[name='appliance-binary']").click(function () {
            if ($("#appliance-binary-no").is(":checked")) {
                $("#appliance-correction").hide();
            } else {
                $("#appliance-correction").show();
            }
        });
    });
</script>

            <legend  style="padding-top:0px;" class="form-label-bold">Appliance use reviews</legend>
            <div class="inline-form-groups">
            <div class="form-group">
                <input type="radio" id="appliance-binary-yes" name="appliance-binary" />
                <label class="form-control-radio" for="appliance-binary-yes">
                Yes
                </label>
            </div>

            <div class="form-group">
                <input type="radio" id="appliance-binary-no" name="appliance-binary" />
                <label class="form-control-radio" for="appliance-binary-no">
                No
                </label>
            </div>
                </div>
                
<div id="appliance-correction" style="display: none; clear:both;">
    <div class="form-group">
            <label class="form-label" for="first-label">
              At same premises or users in same location
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-label">
              At users homes
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
</div>
            
            
        </div>
                 
                 <hr>
                 
                 <div class="form-item-wrapper">
          
          <div class="form-item-wrapper">
            
<script type="text/javascript">
    $(function () {
        $("input[name='medicine-binary']").click(function () {
            if ($("#medicine-binary-no").is(":checked")) {
                $("#medicine-correction").hide();
            } else {
                $("#medicine-correction").show();
            }
        });
    });
</script>

            <legend  style="padding-top:0px;" class="form-label-bold">Medicine use reviews</legend>
            <div class="inline-form-groups">
            <div class="form-group">
                <input type="radio" id="medicine-binary-yes" name="medicine-binary" />
                <label class="form-control-radio" for="medicine-binary-yes">
                Yes
                </label>
            </div>

            <div class="form-group">
                <input type="radio" id="medicine-binary-no" name="medicine-binary" />
                <label class="form-control-radio" for="medicine-binary-no">
                No
                </label>
            </div>
                </div>
<div id="medicine-correction" style="display: none; clear:both;">
          <div class="form-group">
            <label class="form-label" for="last-label">
              How many did you carry out?
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
</div>
            
            
        </div>
             
             </div>
                 
                 <hr>
                 
                 <div class="form-item-wrapper">
          
          <div class="form-item-wrapper">
            
<script type="text/javascript">
    $(function () {
        $("input[name='services-binary']").click(function () {
            if ($("#services-binary-no").is(":checked")) {
                $("#services-correction").hide();
            } else {
                $("#services-correction").show();
            }
        });
    });
</script>

            <legend  style="padding-top:0px;" class="form-label-bold">New Medicine Services</legend>
            <div class="inline-form-groups">
            <div class="form-group">
                <input type="radio" id="services-binary-yes" name="services-binary" />
                <label class="form-control-radio" for="services-binary-yes">
                Yes
                </label>
            </div>

            <div class="form-group">
                <input type="radio" id="services-binary-no" name="services-binary" />
                <label class="form-control-radio" for="services-binary-no">
                No
                </label>
            </div>
                </div>
<div id="services-correction" style="display: none; clear:both;">
          <div class="form-group">
            <label class="form-label" for="last-label">
              How many did you carry out?
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
</div>
            
              
              </div>
            
        </div>
             
             </div>
                 
             </div>
    
    <hr>
    
    <!--
    
    <h2 class="heading-medium">Declaration</h2>
    
    <p>By submitting this I agree to the Terms of service</p>
    
    <label class="collapse" for="_1" style="margin-bottom: 30px;">View full terms</label>
<input id="_1" type="checkbox"> 
<div class="more-info">
    
    <p>I certify that I am entitle to claim payment in accordance with the relevant provisions of my Terms of Service contained in the NHS (Pharmaceutical Services) Regulations 2013 and the Drug Tariff and that the information I have given on this form is correct and complete.</p> 
        
    <p>I consent to the disclosure of information from this form to and by the NHS Prescription Services and the NHS Protect for the purpose of verification of this claim and the investigation, prevention, detection and prosecution of fraud or other unlawful activity against for affecting the NHS.</p>
                
                </div>

-->
             
             <div class="grid-row">
                 
                 <div class="column-two-thirds">
                 
        <a href="submission_form_step2" class="button">Next</a>
                     
                 </div>
                 
             </div>
    
</main>

{% endblock %}
