{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div class="grid-row">
        
        <div class="sent">
            
            <span class="checkmark_container">
           <span class="checkmark" style="margin-top:10px;">
                <div class="checkmark_circle"></div>
                <div class="checkmark_stem"></div>
                <div class="checkmark_kick"></div>
            </span>
            </span>
            
        <h2 class="heading-medium">Prescription information sent</h2>
            
            </div>
        
        <div class="column-third">
            
        </div>
        
    </div>
    
    <div class="grid-row" style="margin-top: 20px;">
        
        <div class="column-two-thirds">
            
            <h1 class="heading-large">Sending your batch to us</h1>
            
        </div>
        
    </div>
    
     <hr>
    
    <div class="grid-row" style="margin-top: 20px;">
        
        <div class="column-third">
            
            <div class="steps">
            
            <span class="steps"><strong>1</strong></span><h2 class="heading-medium">Print your label</h2>
                
            </div>
            
        </div>
             
             <div class="column-two-thirds" style="margin-top:10px;">
                 
                 
                 <ul>
                 <li><a href="/public/images/label.png">Print a postage label</a></li>
                 </ul>
                 
        </div>
        
    </div>
    
        <hr>
    
     <div class="grid-row">
        
        <div class="column-third">
            
           <span class="steps"><strong>2</strong></span> 
                 
    <h2 class="heading-medium">Separate batch into groups</h2>
            
         </div>
            
             <div class="column-two-thirds" style="margin-top:10px;">
    
    <div class="guidance">
        
    <!--<h2>Complete one submission document only.</h2>-->
        
    <span class="remove"><strong>!</strong></span><p style="margin-bottom:30px;"><strong>Remove any adhesive tape, pins or staples</strong>.</p>
        
    <p>Use dividers to separate prescription forms into:</p>
        
        <table class="forms-table">
        
  <tr>
    <td>Exempt</td>
    <td>Paid</td>
    <td>Old rate</td>
  </tr>
        
        </table>
        
                 </div>
                 
         </div>
         
    </div>
         
         <hr>
    
    <div class="grid-row">
    
         <div class="column-third">
            
           <span class="steps"><strong>3</strong></span> 
                 
    <h2 class="heading-medium">Order your groups</h2>
            
         </div>
         
         <div class="column-two-thirds" style="margin-top:10px;">
        
        <p>Each group should be ordered like this:</p>
             
             <p><strong>Top to bottom</strong></p>
             
             <ul>
                <li>Nurse prescriber</li>
                <li>Supplementary prescriber</li>
                <li>Hospital prescriber</li>
                <li>Prescribing Doctor</li>
             </ul>

             <!--
        <div style="clear:both;">
            <div class="form-icon-lilac">FP10P</div> 
            <div style="float: left; padding:20px;">and</div> 
            <div style="margin-right:20px;" class="form-icon-green">FP10C/SS</div>
            <div style="padding:20px 0;">by nurse prescriber</div>
        </div>
        
        <div style="clear:both;">
            <div class="form-icon-lilac">FP10P</div> 
            <div style="float: left; padding:20px;">and</div> 
            <div style="margin-right:20px;" class="form-icon-green">FP10C/SS</div>
            <div style="padding:20px 0;">by supplementary prescriber</div>
        </div>
        
        <div style="clear:both;">
            <div class="form-icon-peach">FP10HP</div> 
            <div style="float: left; padding:20px;">and</div>
            <div style="margin-right:20px;" class="form-icon-green">FP10NC/C/SS</div>
            <div style="padding:20px 0;">by hospital prescriber</div>
        </div>
        
        <div style="clear:both;">
            <div class="form-icon-green">FP10C</div> 
            <div style="float: left; padding:20px;">and</div> 
            <div style="margin-right:20px;" class="form-icon-green">FP10SS/NC/L</div>
            <div style="padding:20px 0;">by prescribing doctor</div>
        </div>
        
        <p style="clear:both; margin-top:20px;">All other FP10 forms</p>

-->
        
        </div>
                
    </div>

        <hr>
            
            <div class="grid-row">
        
        <div class="column-third">
            
            <span class="steps"><strong>4</strong></span>
                 
    <h2 class="heading-medium">Send us your batch</h2>
            
         </div>
            
             <div class="column-two-thirds" style="margin-top:10px;">
            
        <p>Send batch by a <strong>secure, pre-paid</strong> postage method with <strong>track and trace.</strong></p>
                
        </div>
    
    </div>
    
    <hr>
    
            <a href="../../dashboard/">Return to dashboard</a>

    
</main>

{% endblock %}
