{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
     <div class="grid-row">
    
      <div class="column-two-thirds">

        <div class="text">
          
          <h1 class="heading-large">
            Check your answers
          </h1>
          
          <p><strong>Paper prescriptions</strong></p>
          <table class="data-table assets-summary check-your-answers">
            <tr>
              <td style="width:60%;">Are you sending any paper prescriptions?</td>
              <td style="text-align:right;">No</td>
              <td style="text-align:right;"><a href="../submission/submission_form">Change this</a></td>
            </tr>
          </table>
            
          <p><strong>FP57 forms</strong></p>
          <table class="data-table assets-summary">
            <tr>
              <td style="width:60%;">Are you sending any FP57 forms?</td>
              <td style="text-align:right;">No</td>
              <td style="text-align:right;"><a href="../submission/submission_form">Change this</a></td>
            </tr>
          </table>
            
            <p><strong>Other activities</strong></p>
            <p style="width:60%;">Did you carry out any of the following:</p>
          <table class="data-table assets-summary">
            <tr>
              <td style="width:60%;">Appliance use reviews</td>
              <td style="text-align:right;">No</td>
              <td style="text-align:right;"><a href="../submission/submission_form">Change this</a></td>
            </tr>
              <tr>
              <td style="width:60%;">Medicine use reviews</td>
              <td style="text-align:right;">No</td>
              <td style="text-align:right;"><a href="../submission/submission_form">Change this</a></td>
            </tr>
              <tr>
              <td style="width:60%;">New medicine services</td>
              <td style="text-align:right;">No</td>
              <td style="text-align:right;"><a href="../submission/submission_form">Change this</a></td>
            </tr>
              
          </table>

          <h2 class="heading-medium">Declaration</h2>
    
    <p>By submitting this I agree to the Terms of service</p>
    
    <label class="collapse" for="_1" style="margin-bottom: 30px;">View full terms</label>
<input id="_1" type="checkbox"> 
<div class="more-info">
    
    <p>I certify that I am entitle to claim payment in accordance with the relevant provisions of my Terms of Service contained in the NHS (Pharmaceutical Services) Regulations 2013 and the Drug Tariff and that the information I have given on this form is correct and complete.</p> 
        
    <p>I consent to the disclosure of information from this form to and by the NHS Prescription Services and the NHS Protect for the purpose of verification of this claim and the investigation, prevention, detection and prosecution of fraud or other unlawful activity against for affecting the NHS.</p>
                
                </div>
             
             <div class="grid-row">
                 
                 <div class="column-two-thirds">
                 
        <a href="submission_form_finished" class="button">Submit</a>
                     
                 </div>
                 
             </div>
          
      </div>
      
    </div>
  
  </div>
    
</main>

{% endblock %}
