{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div style="margin-top: 0px;" class="grid-row">
        
        <div class="column-two-thirds">
        
        <h1 style="line-height: 1.04167; padding:30px 0 0 0;" class="heading-large">LLOYDS PHARMACY LTD
    
    <span class="contractor">FJJ79/EPHM</span>
    
    </h1>
            
            </div>
        
        <div class="column-third">
        
    
        </div>
        
    </div>
    
        <div style="margin-top: 0px;" class="grid-row">
        
        <div class="column-quarter">
             
             <h3 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Form</span>
                 
                 3164
                 
                 </h3>
            
            </div>
            
            <div class="column-half">
            
            <h3 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Period</span>
                 
                 01/01/2017 - 31/01/2017
                 
                 </h3>
            
        </div>
            
    </div>
    
    <hr>
    
    <div style="margin-top: 0px;" class="grid-row">
    
    <div class="column-quarter">
        
        <p><legend  class="form-label" >Charge Status</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
        
        <p><legend  class="form-label" >Paper Type</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
        
        </div>
        
        <div class="column-quarter">
        
    <p><legend  class="form-label" >Ex Cat</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
        </div>
            
            <p><legend  class="form-label" >Presc Type</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
        </div>
        
        <div class="column-quarter">
        
    <p><legend  class="form-label" >Reason Code</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
            <p><legend  class="form-label" >Parent</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
        </div>
        
        <div class="column-quarter">
            
            <p><legend  class="form-label" >Prescriber</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
            <p><legend  class="form-label" >Practice</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
        </div>
    
        </div>
    
    <hr>
    
    <div style="margin-top: 0px;" class="grid-row">
    
    <div class="column-quarter">
        
        <p><legend  class="form-label" >Item product</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
        
        </div>
        
        <div class="column-quarter">
        
    <p><legend  class="form-label" >Quantity</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
        </div>
            
        </div>
        
        <div class="column-quarter">
        
    <p><legend  class="form-label" >Add info</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
        </div>
        
        <div class="column-quarter">
        
        <p><legend  class="form-label" >Price</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
        </div>
        
        </div>
    
    <hr>
    
    <p><a href="#" class="button button-get-started" onclick="document.getElementById('form').submit(); return false">Submit</a><a style="margin-left:10px" href="" class="button button-secondary">Skip</a></p>
        
</main>

{% endblock %}
