{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">NHSBSA Digitisation</h1>

  <h2 class="heading-large">Digital submission and returns</h2>

<ul>
  <li><a href="start">Start</a><li>
</ul>

  <h2 class="heading-large">Other pages</h2>

  <ul>
    <li><a href="">Login</a></li>
    <li><a href="">Returning</a></li>
    <li><a href="">Submission</a></li>
    <li><a href="">Dashboard</a></li>
  </ul>

  <h2 class="heading-large">Experimental</h2>

  <p><a href="">Link</a></p>
</main>

{% endblock %}
