{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}



<main id="content" role="main">
    
    <div class="grid-row">

  <div class="column-two-thirds">
      
  <h1 class="heading-xlarge">Prescription payments</h1>

  <p class="lede">Use this service manage prescription batches and view:</p>
      
      <ul class="list-bullet">
          <li>payments</li>
          <li>submission errors</li>
          <li>disallowed items</li>
      </ul>
      
    <p><a href="login/" class="button button-get-started">Login</a></p>
      
      </div>
        
</div>
</main>
      
    

{% endblock %}
