{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    
    <div class="grid-row">

  <div class="column-third">
    <ul>
    <li style="padding:10px 0 20px 0;"><a href="../../../dashboard/"  class="back-to-previous">Back</a></li>
      </ul>
      
        </div>
      
       <div style="margin-top: 0px; padding-left: 0px;" class="column-two-thirds">
          
           <h2 style="line-height: 1.04167;" class="heading-large">Item 5
    
    <span style="font-size: 27px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">from prescription 1</span>
    
    </h2>
           
           <form action="/" method="post" class="form">

      <div class="form-item-wrapper">
        <fieldset>
          <p><legend  class="form-label" >What is the quantity for this item?</legend></p>
            
            <img src="">
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
        </fieldset>
      </div>
         
         <p><a href="6" class="button button-get-started">Submit</a><a style="margin-left:10px" href="6" class="button button-secondary">Skip</a></p>

  </form>
      
      <img src="/public/images/pre_5.svg" style="width:100%; margin-top: 30px;">
      
    </div> 
        
        
        
    </div>
    
    
    
    
      
</main>

{% endblock %}
