{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
     <div class="grid-row" style="margin-top: 20px;">
        
         <div class="column-two-thirds">
             
             <h1 class="heading-large">Tell us about your submission</h1>
             
         </div>
         
    </div>
    
    <div class="grid-row">
    
    <div class="column-third">
        
         <h2 class="heading-medium" style="margin-top: 10px;"><label>Which period is this for?</label></h2>
                
    </div>
    
    <div class="column-two-thirds">
        
        <div style="margin-top:25px;">
            
            <select>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            </select>
            
            </div>
        
        </div>
        
    </div>
    
    <hr>
    
    <div class="grid-row">
    
    <div class="column-third">
        
         <h2 class="heading-medium" style="margin-top: 10px;">Prescriptions</h2>
                
    </div>
    
    <div class="column-two-thirds">
    
    <div class="form-item-wrapper">        
        <fieldset>
            
          <legend class="form-label-bold">How many paper prescriptions are you sending?</legend>
                
            <div class="form-group">
            <label class="form-label" for="first-label">
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
            
        </fieldset>
        
        <fieldset>
            
          <legend class="form-label-bold">How many items were</legend>
                
            <div class="form-group">
            <label class="form-label" for="first-label">
              Exempt
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-label">
              Paid
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
            <div class="form-group">
            <label class="form-label" for="last-label">
              Paid (old rate)
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
        </fieldset>
             
             </div>
        </div>
        
    </div>
    
    <hr>
        
         <div class="grid-row">
    
    <div class="column-third">
        
         <h2 class="heading-medium" style="margin-top: 10px;">Other activities</h2>
        
    </div>
             
             <div class="column-two-thirds">
    
      <div class="form-item-wrapper">
          
          <!--
        <fieldset>
          <legend class="form-label-bold">Did you carry out any Appliance use reviews</legend>
          <div class="form-group">
            <label class="form-label" for="first-label">
              At same premises or users in same location
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label" for="last-label">
              At users homes
            </label>
            <input type="text" id="last-label" class="form-control">
          </div>
            
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="binary-yes" name="binary">
              <label class="form-control-radio" for="binary-yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="binary-no" name="binary">
              <label class="form-control-radio" for="binary-no">
                No
              </label>
            </div>
          </div>
        </fieldset>

-->
          
          <div class="form-item-wrapper">
            
            <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
<script type="text/javascript">
    $(function () {
        $("input[name='items-binary']").click(function () {
            if ($("#items-binary-no").is(":checked")) {
                $("#items-correction").hide();
            } else {
                $("#items-correction").show();
            }
        });
    });
</script>

            <legend  style="padding-top:0px;" class="form-label-bold">Did you carry out any Application use reviews?</legend>
            <div class="inline-form-groups">
            <div class="form-group">
                <input type="radio" id="items-binary-yes" name="items-binary" />
                <label class="form-control-radio" for="items-binary-yes">
                Yes
                </label>
            </div>

            <div class="form-group">
                <input type="radio" id="items-binary-no" name="items-binary" />
                <label class="form-control-radio" for="items-binary-no">
                No
                </label>
            </div>
<div id="items-correction" style="display: none; clear:both;">
    <p>How many did you carry out?</p>
    <input type="text" id="txtPassportNumber"  class="form-control"/>
</div>
            </div>
            
        </div>
             
             </div>
                 
             </div>
             
        </div>
    
    <hr>
    
    <h2 class="heading-medium">Declaration</h2>
    
    <p>I agree to the Terms of service</p>
    
    <label class="collapse" for="_1" style="margin-bottom: 30px;">View full terms</label>
<input id="_1" type="checkbox"> 
<div class="more-info">
    
    <p>I certify that I am entitle to claim payment in accordance with the relevant provisions of my Teams of Service contained in the NHS (Pharmaceutical Services) Regulations 2013 and the Drug Tariff and that the information I have given on this form is correct and complete.</p> 
        
    <p>I consent to the disclosure of information from this form to and by the NHS Prescription Services and the NHS Protect for the purpose of verification of this claim and the investigation, prevention, detection and prosecution of fraud or other unlawful activity against for affecting the NHS.</p>
                
                </div>
             
             <div class="grid-row">
                 
                 <div class="column-two-thirds">
                 
        <a href="submission_form_finished" class="button">Submit</a>
                     
                 </div>
                 
             </div>
    
</main>

{% endblock %}
