{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Digital submission and returns</h1>

 <h2 class="heading-medium">I've used this service before</h2>
       <p class="expand-bottom">
    <a href="/homepage" class="button button-get-started">Submit claim</a><a href="/homepage" class="button button-get-started" style="margin-left:30px">Manage your payments</a></p>
      
      <hr>
</main>
 
{% endblock %}
