{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">
    Register
  </h1>
    
<p class="lede">Enter your details</p>

   <div class="form-item-wrapper">
        <fieldset>
            
             <p><legend class="form-label-bold">Practice name</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
             <p><legend class="form-label-bold">NHS number</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
            
          <div class="form-group">
              <p><legend class="form-label-bold">Password</legend></p>
            <input type="text" id="last-label" class="form-control">
              
             <div class="form-group">
              <p><legend class="form-label-bold">Confirm password</legend></p>
            <input type="text" id="last-label" class="form-control">
                 
          </div>
        </fieldset>
      </div>
         
         <p><a href="" class="button button-get-started">Register</a></p>

</main>

{% endblock %}
