{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
     <div class="grid-row" style="margin-top: 20px;">
        
         <div class="column-third">  
             
            <h1 class="heading-large">Prescribed</h1>
             
             <h3 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Surname</span>
             
             Hadworth </h3>
             
             <h3 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Date of birth</span>
             
             18/9/1985 </h3>
             
             <h3 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">NHS Patient Number</span>
             
             343432342 </h3>  
             
             <span style="margin-top: 25px; font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Item information</span>
         
             <ul style="margin: 10px 0 0 20px; list-style-type: disc;">
                <li>Carmellose</li>
                <li>0.5%</li>
                <li>eye drops</li>
                <li>20</li>
            </ul>
                    
            <h3 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Prescription Number</span>
             
             2133212 </h3>
             
             </div>
         
        <div class="column-two-thirds">
      
             <h1 class="heading-large">Dispensed item</h1>
            
            <p class="lede">Complete the missing information</p>
            
             <form action="/" method="post" class="form">

      <div class="form-item-wrapper">
              
              <fieldset>
                  
            <p><legend  class="form-label">Presentation</legend></p>
            
          <div style="background-color: #EFEFEF; border: 1px solid grey; width: 46%; padding: 10px; color: grey;">
              Eye drops
          </div>
                  
           <p><legend  class="form-label" >Supplier/manufacturer</legend></p>
            
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
                  
           <p><legend  class="form-label">Quantity</legend></p>
            
          <div style="background-color: #EFEFEF; border: 1px solid grey; width: 46%; padding: 10px; color: grey;">
              2
          </div>
                  
                  <p><legend  class="form-label" >Pack size</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
                  
            <p><legend  class="form-label">Pack price</legend></p>
            
          <div style="background-color: #EFEFEF; border: 1px solid grey; width: 46%; padding: 10px; color: grey; margin-bottom:25px;">
              £1.99
          </div>
                  
        </fieldset>
      </div>
         
         <p><a href="7" class="button button-get-started">Submit</a><a style="margin-left:10px" href="7" class="button button-secondary">Skip</a></p>

  </form>
           
             </div>
        
    </div>
    
</main>

{% endblock %}
