{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div style="margin-top: 0px;" class="grid-row">
    
    <div class="column-two-thirds">
    
    <h1 style="line-height: 1.04167; padding:50px 0 0 0;" class="heading-xlarge">Prescription submissions
    
    <span class="contractor">Teds pharmacy  <a href="logout">Logout</a></span>
    
    </h1>
        
    </div>
    
    <div class="column-third" style="margin-top:60px;">
        
       <!-- <a href="submission/submission_form" style="float:right;" class="button secondary-button">New submission</a> -->
    
    </div>
        
    </div>
    
    <div style="margin: 60px 0; width: 100%; padding-bottom:28px; border-bottom: 1px solid #667078">
        
        <a class="tabopen" href="">Summary</a>
        
        <a class="tab" href="rejected">Unpaid items (6)</a>
        
        <a class="tab" href="returns">Payments</a>
        
        <a class="tab" href="disallowed">Disallowed items</a>
        
    </div>
    
    <div style="margin-top: 0px;" class="grid-row"> 
        
    <div class="column-third">
        
        <h2 style="font-size:24px; margin:0px 0 10px 0">December submission</h2>
                
        <h2 style="font-size:48px; margin:60px 0 10px 0">1238</h2>
        
        <h2 class="heading-medium" style="padding-top:0; margin-bottom: 0;">Items</h2>
        
        </div>
        
        <div class="column-two-thirds">
            
            <p style="color:#6F777B; margin:0px 0px 5px; padding-top:0">Received by post</p>

            <div class="received-submission">
                
            <div style="margin-bottom:30px;"><a style="float:right;" href="submission/submission_form" >Send us your batch</a>
            <span><strong>No paper prescriptions received</strong></span></div>
                
            </div>
            
            <p style="color:#6F777B; margin-bottom:5px;">Captured electronically</p>
            
            <div class="received-submission">
                
            <div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>1235</strong></div> <p style="margin-bottom:5px; padding-top:12px;">EPS prescriptions dispensed</p>
            
            </div>
            
            <!--<div class="received-submission">
                
            <div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>11</strong></div> <p style="margin-bottom:5px; padding-top:12px;">Use reviews carried out</p>
            
            </div>-->
            
            <div class="received-submission">
                
            <div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>3</strong></div> <p style="margin-bottom:5px; padding-top:14px;">Previously unpaid items with added information</p>
            
            </div>
            
        
    </div>
    </div>
      
    <hr>
            
        <div style="margin-top: 0px;" class="grid-row"> 
        
    <div class="column-third">
        
        <h2 style="font-size:48px; margin:20px 0 0px 0">{{totalUnpaidItemsCount+6}}</h2>
        
       <h2 class="heading-medium" style="margin-bottom:0">Unpaid items</h2>
        
        <p style="color:#6F777B; margin:0px 0 30px 0; padding-top:0">last 6 months</p>
        
        </div>
        
        <div class="column-two-thirds">
            
            <p style="color:#6F777B; margin:0px 0 5px 0">Items with missing information</p>
            
            <div class="received-submission">
                
            <a style="margin-top: 5px; float:right;" href="items/cycle/rejected/next?startingUnpaidItemCount={{rejectedItemsCount}}&unpaidItemRunning=0" >Add information</a>
            
            <div style="text-align: center; background-color:#f7e6e8; color:#B10E1E; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>{{rejectedItemsCount}}</strong></div><p style="margin-bottom:5px; padding-top:12px;">EPS items</p>
                 
            </div>
            
            <div class="received-submission">
                
            <p style="float:right;">These were posted to you</p>
                 
             <div style="text-align: center; background-color:#f7e6e8; color:#B10E1E; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>6</strong></div><p style="margin-bottom:5px; padding-top:12px;">paper items</p>
            
            </div>
			
			{% if rejectedItemsCount>0 %}
				<!-- <a href="items/cycle/rejected/next?startingUnpaidItemCount={{rejectedItemsCount}}&unpaidItemRunning=0" style="float:right; margin-left:10px;" >Add information</a> -->
			{% endif %}			
            
<!-- Considering separate section
            
             <hr style="padding:10px 0">
            
            <p style="padding: 10px 20px 0 20px;font-size: 19px; "><span style=" padding-right: 15px; margin-right: 10px; border-right: 1px solid #000;">1 item(s)</span> Disallowed<a href="rejected" style="float:right; margin-left:10px;" ></a></p>


-->
        </div>
        
        </div>

</main>

{% endblock %}
