{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
     <div class="grid-row" style="margin-top: 20px;">
         
         <h1 class="heading-medium" style="margin-left:10px;">Prescription information</h1>
         
    </div>
         
         <div class="grid-row">
         
          <div class="column-quarter" style="margin-top: 15px;">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Item information</span>
         
         <ul style="margin: 10px 0 0 20px; list-style-type: disc;">
        <li>Carmellose</li>
        <li>0.5%</li>
        <li>eye drops</li>
        <li>20</li>
        </ul>
             
         </div>
             
              <div class="column-quarter">

         <h1 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">NHS Patient Number</span>
             
             343432342 </h1>
             
             </div>
         
         <div class="column-quarter">
             
             <h1 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Prescription Number</span>
             
        22312213 </h1>
             
         </div>
         
         <div class="column-quarter">
             
             <h1 class="heading-medium">
             
             <span style="font-size: 19px; font-weight:400; text-transform:none; display:block; color:#6f777b; padding-top:0px; ">Date</span>
             
             18/9/2016 </h1>
             
         </div>
         
    </div>
    
     <hr>
    
    <div class="grid-row">
        
        <div class="column-two-thirds">
            
            <h2 class="heading-large">What was dispensed?</h2>
            
            <form action="/" method="post" class="form">

      <div class="form-item-wrapper">
              
              <fieldset>
                  
           <p><legend  class="form-label" >Supplier/manufacturer</legend></p>
            
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
                  
                     <p><legend  class="form-label" >Number of items</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
                  
                  <p><legend  class="form-label" >Pack size</legend></p>
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
                  
            <p><legend  class="form-label" >Pack price</legend></p>
            
          <div class="form-group">
            <input type="text" id="first-label" class="form-control">
          </div>
                  
        </fieldset>
      </div>
         
         <p><a href="../../dashboard/rejected" class="button button-get-started">Submit</a></p>

  </form>
           
             </div>
        
    </div>
    
</main>

{% endblock %}
