{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    
    <div style="margin-top: 0px;" class="grid-row">
        
        <div style="margin: 20px 15px; background-color: #E5F0F9;padding:20px 0 15px 20px;" class="notice">
  <i class="icon icon-important">
    <span class="visuallyhidden">Warning</span>
  </i>
  <span style="position:absolute; padding: 8px 0 0 15px;"><strong  class="bold-small">
    Please <a href="submission/submission_form">submit</a> your paper prescriptions for September
  </strong></span>
        
</div>
    
    <div class="column-two-thirds">
    
    <h1 style="line-height: 1.04167; padding:30px 0 0 0;" class="heading-large">Prescription submissions
    
    <span class="contractor">Teds pharmacy  <a href="logout">Logout</a></span>
    
    </h1>
        
    </div>
    
    <div class="column-third" style="margin-top:30px;">
    
    </div>
        
    </div>
    
    <div style="margin: 60px 0; width: 100%; padding-bottom:28px; border-bottom: 1px solid #667078">
        
        <a class="tabopen" href="">Summary</a>
        
        <a class="tab" href="rejected">Unpaid items (6)</a>
        
        <a class="tab" href="disallowed">Disallowed items</a>
        
        <!--<a class="tab" href="returns">Submissions</a>-->
        
    </div>
    
    <!--
    
    <div style="margin-top: 0px;" class="grid-row"> 
        
<div class="column-third">
    
        <h2 style="font-size:24px; margin:0px 0 10px 0">Last payment</h2>
    
        <p style="color:#6F777B; margin:0px 0 10px 0; padding-top:0">for December</p>
                
        <h2 style="font-size:48px; margin:50px 0 10px 0">1371</h2>
        
        <h2 class="heading-medium" style="padding-top:0; margin-bottom: 0;">Items</h2>
        
        </div>
        
        <div class="column-two-thirds">
            
            <p style="color:#6F777B; margin:0px 0px 5px; padding-top:0"> Prescription items you were paid for</p>

            
                
            <div class="received-submission">
                
            <div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>1235</strong></div> <p style="margin-bottom:5px; padding-top:12px;">EPS items</p>
            
            </div>
            
            <div class="received-submission">
            
                
            <div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>133</strong></div> <p style="margin-bottom:5px; padding-top:12px;">paper items</p>
                
            </div>
            
                <div class="received-submission">
                
            <div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>11</strong></div> <p style="margin-bottom:5px; padding-top:12px;">Use reviews carried out</p>
            
</div>
            
             <div class="received-submission">
                
                <p style=" float:right; color:#6F777B; margin:6px 0 30px 0; padding-top:0">from previous months</p>
                
            <div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>3</strong></div> <p style="margin-bottom:5px; padding-top:14px;">items with added information</p>
            
            </div>
            
            <div class="received-submission">
            
            <label class="collapse" for="_1">What else was in this payment?</label>
<input id="_1" type="checkbox"> 
<div class="more-info">
            
            <ul>
                    <li><strong>2 Remote delivery payments</strong></li> 
                    <li><strong>17 Medicine use reviews</strong></li> 
                </ul>

            <div class="received-submission">
                
            <div style="text-align: center; background-color:#f7e6e8; color:#B10E1E; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>6</strong></div><p style="margin-bottom:5px; padding-top:12px;">prescriptions switched from exempt to paid</p>
                
            </div>
    
            </div>
                
            </div>
            
    </div>
    </div>

-->
      
        <div style="margin-top: 0px;" class="grid-row"> 
        
    <div class="column-third">
        
        <h2 style="font-size:24px; margin:0px 0 10px 0">Unpaid items</h2>
        
        <p style="color:#6F777B; margin:0px 0 30px 0; padding-top:0">From last 6 months</p>
        
        <h2 style="font-size:48px; margin:40px 0 0px 0">{{totalUnpaidItemsCount+6}}</h2>
        
       <h2 class="heading-medium" style="margin-bottom:0">Items</h2>
        
        </div>
        
        <div class="column-two-thirds">
            
            <h3 class="heading-small">These items have missing information</h3>
            
            <div class="received-submission">
               
            {% if rejectedItemsCount>0 %}    
                
            <a style="margin-top: 5px; float:right;" href="items/cycle/rejected/next?startingUnpaidItemCount={{rejectedItemsCount}}&unpaidItemRunning=0" >Add information</a>
                
            {% endif %}
            
            <div style="text-align: center; background-color:#f7e6e8; color:#B10E1E; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>{{rejectedItemsCount}}</strong></div><p style="margin-bottom:5px; padding-top:12px;">EPS items</p>
                 
            </div>
            
            <div class="received-submission">
                
            <p style="color:#6F777B; float:right;">These were posted to you</p>
                 
             <div style="text-align: center; background-color:#f7e6e8; color:#B10E1E; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>6</strong></div><p style="margin-bottom:5px; padding-top:12px;">paper items</p>
            
            </div>
            
            <!--
            
			{% if rejectedItemsCount>0 %}
				<a href="items/cycle/rejected/next?startingUnpaidItemCount={{rejectedItemsCount}}&unpaidItemRunning=0" style="float:right; margin-left:10px;" >Add information</a>
			{% endif %}	

-->

<!-- Considering separate section
            
             <hr style="padding:10px 0">
            
            <p style="padding: 10px 20px 0 20px;font-size: 19px; "><span style=" padding-right: 15px; margin-right: 10px; border-right: 1px solid #000;">1 item(s)</span> Disallowed<a href="rejected" style="float:right; margin-left:10px;" ></a></p>


-->
        </div>
        
        </div>
    
    <hr>
    
    <div style="margin-top: 0px;" class="grid-row">
        
        <div class="column-third">
        <h2 class="heading-medium">Submission <br> payments</h2>
        </div>
        
        <div class="column-two-thirds">
        
        <div class="submissions" style="padding: 0;">
        
        <!--
            
        <div class="submission-filter"><label>sort by</label>
            
            <select>
            <option>Newest</option>
            <option>Oldest</option>
            </select>
            
            </div>
        
        <p style="color:#6f777b; margin-bottom:30px; margin-top:10px;">Showing: <strong>within 12 months</strong> / <a href=""> all</a></p>

-->
            
            <h3 class="heading-small">Current</h3>
            
            <div class="received-submission">
                
                <span>September submission</span>
                
            <span class="received-when"><a href="submission/submission_form">Submit batch</a></span>
                
            </div>
            
             <h3 class="heading-small">Past</h3>
            
            <div class="received-submission">
                
                <span>August submission</span>
                
            <span class="received-when"><p>Received by BSA</p></span>
                
            </div>
            
             <div class="collapsible-item"> 
                     
            <div class="received-submission">
                
                <label class="collapse" for="_1">July submission - 2077 items<span class="received-when"> <p>Paid on 15 Sep 2016</p> </span></label>
<input id="_1" type="checkbox"> 
<div class="more-info">
    
    <div>
        
        
                 <h2 class="heading-medium">Payment breakdown</h2>
    
    <div style="height: 35px;">
                
            <div style="width:40%; float:left;"><p style="color:#6F777B; margin-bottom:5px;"></p></div>
            
            <div style="width:20%; float:left;"><p style="color:#6F777B; margin-bottom:5px;">Submitted</p></div>
                
            <div style="width:20%; float:left;"><p style="color:#6F777B; margin-bottom:5px;">Paid</p></div>
                
            <div style="width:20%; float:left;"><p style="color:#6F777B; margin-bottom:5px;">Unpaid</p></div>
            
            </div>
            
            <div class="received-submission" style="height: 40px;">
            
            <div style="width:40%; float:left;"><p style="margin-bottom:5px; padding-top:12px;">EPS items</p></div>
                
            <div style="width:20%; float:left;"><div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>1124</strong></div></div>
                
            <div style="width:20%; float:left;"><div style="text-align: center; background-color:#006435; color: #fff; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>1124</strong></div></div>
                
            <div style="width:20%; float:left;"><div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>0</strong></div></div>
            
            </div>
            
            <div class="received-submission" style="height: 40px;">
            
            <div style="width:40%; float:left;"><p style="margin-bottom:5px; padding-top:12px;">Paper items</p></div>
                
            <div style="width:20%; float:left;"><div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>953</strong></div></div>
                
            <div style="width:20%; float:left;"><div style="text-align: center; background-color:#006435; color: #fff; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>953</strong></div></div>
                
            <div style="width:20%; float:left;"><div style="text-align: center; background-color:#E6EEEA; color: #006435; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; float:left; margin-right:10px;"><strong>0</strong></div></div>
            
            </div>
                     
            <div class="received-submission" style="margin-top:30px; padding-top:30px;"><p><strong>You were also paid for</strong></p>
            
                <ul>
                    <li>2 remote deliveries</li> 
                    <li>17 medicine use reviews</li> 
                    <li>3 unpaid items from June</li> 
                </ul>
                
            </div>
                     
                     <h2 class="heading-medium">Deductions</h2>
                     
                      <div class="received-submission" style="margin-top:0px; padding-top:20px;">
                          
                          
                          
                          
                          
                           <div style="text-align: center; float:right; background-color:#f7e6e8; color:#B10E1E; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; margin-right:35px;"><strong>3</strong></div>
                          
                          <p style="margin-bottom:5px; padding-top:12px;">Disallowed items</p>
                
            </div>
                     
            <div style="text-align: center; float:right; background-color:#f7e6e8; color:#B10E1E; font-size: 25px; width: 70px; padding: 10px 5px 5px 5px; margin-right:35px;"><strong>6</strong></div>
                          
                          <p style="margin-bottom:5px;padding-top:12px;">Prescriptions switched from exempt to paid</p>
                
            </div>
                     
                     <p style="color:#6F777B; margin:0px 0 10px 0; padding-top:0">Exemption category <strong>tick or signature</strong> was missing.</p>
                     
    </div>
    
                </div>
    
    <!--
                    
                <p>This is made up of:</p>
                    
                <ul>
                    <li><strong>342 Paper prescriptions</strong> <span style="color:#6F777B;">from September submission</span></li> 
                    <li><strong>42 EPS prescriptions</strong> <span style="color:#6F777B;">from September submission</span></li>
                    <li><strong>17 Medicine use reviews</strong> <span style="color:#6F777B;">from September submission</span></li> 
                    <li><strong>3 EPS items</strong> <span style="color:#6F777B;">from previous submissions</span></li>
                </ul>

-->
               
                </div>
                
            <!--  
                
            <span><a href="">September - 345 items</a></span>
                
            <span class="received-when"> <p>15 Sep 2016</p> </span>
                
                <div class="more-info"><p>You were paid <strong>£12,342.99</strong></p>
                    
                <p>This includes:</p>
                    
                <ul>
                    <li>342 items from September submission</li>    
                    <li>3 additional items</li>
                    <li>Remote delivery payment</li>
                </ul>
                
                <a href="">View more</a>
                
                </div>
                
                
            
            </div>
                 
            </div>

-->
            
            <div class="received-submission">
                
            <span><a href="">June submission - 543 items</a></span>
                
            <span class="received-when"><p>Paid on 14 Aug 2016</p></span>
            
            </div>
        
            
        </div>
            
            </div>
        
        </div>

</main>

{% endblock %}
