{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Manage your submissions</h1>

  <h2 class="heading-large">Prescription returns</h2>
    
    <hr>

<p class="lede">Sprint 1</p>
    <a href="dsr/sprint1">Open</a>
    
    <hr>
    
    <p class="lede">Sprint 2</p>
    <a href="dsr/sprint2">Open</a>
    
    <hr>
    
    <p class="lede">Sprint 3</p>
    <a href="dsr/sprint3">Open</a>
    
    <hr>

    <p class="lede">Sprint 4</p>
    <a href="dsr/sprint4_a">Open</a>
    
    <hr>

    <p class="lede">Sprint 5</p>
    <a href="dsr/sprint5">Open</a>
    
    <hr>
     <h2 class="heading-large">Submissions</h2>
    <hr>

    <p class="lede">Sprint 1a</p>
    <a href="dsr/sprint6">Open</a>
    
    <hr>

    <p class="lede">Sprint 1b</p>
    <a href="dsr/sprint7">Open</a>
    
   <hr>
    
    <p class="lede">Sprint 1c</p>
    <a href="dsr/sprint8/login/dashboard/submission_index">Open</a>
 
    <hr>
    
    <p class="lede">Sprint 2a</p>
    <a href="dsr/sprint9/">Open</a>
    <hr>
    
    <p class="lede">Sprint 2b</p>
    <a href="dsr/sprint9b">Open</a>
     <hr>
    
    <p class="lede">Sprint 2c</p>
    <a href="dsr/sprint9c">Open</a>
    <hr>
    
    <p class="lede">Sprint 3a</p>
    <a href="dsr/sprint10">Open</a>
    
    <hr>
    
    <p class="lede">Sprint 3b</p>
    <a href="dsr/sprint10b">Open</a>

</main>

{% endblock %}
