{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Manage your submissions</h1>

  <h2 class="heading-large">Prescription returns</h2>
    
    <hr>

<p class="lede">Sprint 1</p>
    <a href="dsr/sprint1/">Open</a>
    
    <hr>
    
    <p class="lede">Sprint 2</p>
    <a href="dsr/sprint2/">Open</a>
    
    <hr>
    
    <p class="lede">Sprint 3</p>
    <a href="dsr/sprint3/">Open</a>
    
    <hr>

    <p class="lede">Sprint 4</p>
    <a href="dsr/sprint4_a/">Open</a>
    
    <hr>

    <p class="lede">Sprint 5</p>
    <a href="dsr/sprint5/">Open</a>
    
    <hr>
    
    <h2 class="heading-large">Prescription submissions and returns</h2>
    
    <hr>

    <p class="lede">Sprint 6</p>
    <a href="dsr/sprint6/index">Open</a>

</main>

{% endblock %}
